bBall_Lib/Web References/com.inetis.ddv/Iskalnik.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ddv.inetis.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ddv.inetis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ddv.inetis.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Isci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iskalni_niz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsciResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="xmlZavezanec">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="xmlDavcnaStevilka" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlMaticnaStevilka" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlStatus" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlNaziv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlNaslov" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlZavezanecZaDDV" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlPlacnikDDV" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlDatumRegistracije" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlDejavnost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlUrad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlTransakcijskiRacuni" type="tns:ArrayOfXmlTransakcijskiRacun" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXmlTransakcijskiRacun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="xmlTransakcijskiRacun" nillable="true" type="tns:xmlTransakcijskiRacun" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="xmlTransakcijskiRacun">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="xmlTRR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlVrstaRacuna" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlImeBanke" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlDatumOdprtja" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlDatumZadnjeSpremembe" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlZaprt" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="xmlDatumZaprtja" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsciSoapIn">
    <wsdl:part name="parameters" element="tns:Isci" />
  </wsdl:message>
  <wsdl:message name="IsciSoapOut">
    <wsdl:part name="parameters" element="tns:IsciResponse" />
  </wsdl:message>
  <wsdl:portType name="IskalnikSoap">
    <wsdl:operation name="Isci">
      <wsdl:input message="tns:IsciSoapIn" />
      <wsdl:output message="tns:IsciSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IskalnikSoap" type="tns:IskalnikSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Isci">
      <soap:operation soapAction="http://ddv.inetis.com/Isci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IskalnikSoap12" type="tns:IskalnikSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Isci">
      <soap12:operation soapAction="http://ddv.inetis.com/Isci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Iskalnik">
    <wsdl:port name="IskalnikSoap" binding="tns:IskalnikSoap">
      <soap:address location="http://ddv.inetis.com/Iskalnik.asmx" />
    </wsdl:port>
    <wsdl:port name="IskalnikSoap12" binding="tns:IskalnikSoap12">
      <soap12:address location="http://ddv.inetis.com/Iskalnik.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>